@theme {
  --font-sans: "Blueaka", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", Menlo, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: "Blueaka";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Blueaka-Subset.woff2") format("woff2");
}

@font-face {
  font-family: "NanumSquareRound";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/NanumSquareRound-Subset.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Rubik-Subset.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/JetBrainsMono.ttf");
}

:lang(zh),
:lang(en),
:lang(fr),
:lang(de),
:lang(zh-CN),
:lang(zh-TW),
:lang(zh-HK),
:lang(ja) {
  font-family: "Blueaka", var(--font-sans), sans-serif;
}

:lang(ko) {
  font-family: "NanumSquareRound", "Blueaka", var(--font-sans), sans-serif;
}

:lang(ru) {
  font-family: "Rubik", "Blueaka", var(--font-sans), sans-serif;
}

/* 强化选择器权重 */
.font-mono,
.font-mono * {
  font-family: var(--font-mono), monospace !important;
}

/* 默认（非中文、日文） */
html {
  font-family: var(--font-sans), sans-serif;
}
