@theme {
  --font-sans: "Blueaka", "GmarketSans", "Rubik", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", Menlo, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: "Blueaka";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Blueaka-Subset.woff2") format("woff2");
}

@font-face {
  font-family: "GmarketSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/GmarketSans-Subset.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Rubik-Subset.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/JetBrainsMono.ttf");
}

/* Increase selector specificity. */
.font-mono,
.font-mono * {
  font-family: var(--font-mono), monospace !important;
}

html {
  font-family: var(--font-sans), sans-serif !important;
}
